#post {
    display: flex;
}

/* input text */
.boxcontainerSpan_Box {
    width: 20%;
}

.box_container_product {
    width: 96%;
    margin-top: 6.5rem;
    margin-right: 1rem;
    padding: 1rem 2.5rem 2.5rem 2rem;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}
.group_container_product {
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.box_text_post h2 {
    padding: 20px 0;
}

.deleteBox_productconotent {
    background-color: red;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 7px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
.box_input-img input{
    display: none;
}


.box_container_image{
    padding: 2px;
}
.addProduct_box_content_afterThat {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #FFF;
}


.addProduct_box_content_afterThat .input-box {
    width: 260px;
}

/* Hidden product ID */
.addProduct_box_content_afterThat .input-box .id {
    display: none;
}

.addProduct_box_content_afterThat .input-box .box input {
    width: 100%;
    height: 2.3rem;
    margin-top: 0.5rem;
    font-size: 16px;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0 8px;
}


.addProduct_box_content_afterThat img {
    cursor: pointer;
}

.image {
    width: 60%;
    display: grid;
    height: 30vh;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

.edit_images {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 4px 4px 0 4px;
    font-size: 25px;
    margin: 3px
}
.trigger_popup_fricc {
    cursor: pointer;
    position: relative;
}
#icon_ci_camera{
    color: #f46738;
}




/* box_popular */

.box_popular{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
}
.box_popular input{
    width: 20%;
    
}

/* Submit button */
.btn_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.btn_submit button {
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    border: none;
}

/*========= post_add_product ============*/

.post_add_product{
    width: 20%;
    height: 55vh;
    display: flex;
    gap: 1rem;
}

.iconimage{ 
    width: 100%;
    height: 56.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #fcfcfc;
    
}
#icon_shoppingbag{
    width: 80px;
    height: 80px;
    color: #f46738;
    padding: 10px 15px;
    border: solid 1px #ccc;
    border-radius: 50px;
    cursor: pointer;
}
#icon_goplus{
    width: 20px;
    height: 20px;
    margin-top: 2.5rem;
    margin-left: -1.8rem;
    border: solid 1px #ccc;
    background-color: #fcfcfc;
    border-radius: 10px;
    color: #f46738;
    cursor: pointer;
}


.box_input-img {
    position: relative;
    cursor: pointer;
    width: 260px;
    height: 36vh;
    overflow: hidden;
}
.box_input-img img{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_input-img input {
    display: none;
}