*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

#product_admin {
    width: 100%;
    margin: auto;
    z-index: 999;
    padding: 88px 20px 20px 255px;
}
.container_body_admin_product{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    padding: 20px 20px 30px 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_add_product{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    margin-right: 2rem;
    color: #FFFFFF;
    background-color: #15c65c;
}
#icon_add_product{
    width: 25px;
    height: 25px;
}




/* input search box */

.search-box_product {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 10px 0 25px 0;
}



.search-box_product input {
    width: 700px;
    height: 45px;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 0 1rem;
    border-radius: 5px 0 0 5px;
}

.search-box_product button {
    background: #FA442C;
    color: #FFF;
    width: 90px;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}


/* =========== productHome.css ============*/

a {
    text-decoration: none;
}

#product {
    width: 65%;
    margin: auto;
    height: auto;
    margin-top: 5.5rem;
}

.productHead_content {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.box_cart{
    margin-left: 12.8rem;
}
.box_icon_cart {
    color: #3a3a3a;
    display: flex;
    font-size: 1.6rem;
    margin-top: -1.3rem;
    padding: 5px 5px;
    border: 1px solid var(--gray);
    border-radius: 10%;
    background-color: #e9e5e5a1;
}

.box_icon_cart:hover {
    color: #FF4F16;
}


.htxthead,
.categoryBoxfiler {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter_priceProduct {
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #FF4F16;
    border-radius: 4px;
}
#product .box-product {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
}

.banner_no_box {
    position: relative;
    margin-bottom: 10px;
    margin-top: 2.5rem;
}
.banner_no_box input{
    display: none;
}
.banner_no_box_image {
    object-fit: cover;
    overflow: hidden;
    height: 60vh;
}

.banner_no_box_image img {
    width: 100%;
    cursor: pointer;
}

.edit_image_banner {
    position: absolute;
    top: 5px;
    right: 8px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    font-size: 20px;
    margin: 3px;
}
.trigger_popup_fricc {
    cursor: pointer;
    position: relative;
}
#box_icon_camera{
    color: #f46738;
}

.hover_bkgr_fricc {
    position: fixed;
    left: 32%;
    bottom: 55%;
    width: 35%;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    text-align: center;
    z-index: 999;
    border-radius: 20px;
}

.hover_bkgr_fricc p {
    font-size: 16px;
    margin-top: 1rem;
}

.txtOFproduct {
    display: flex;
    padding: 0 20px 10px 20px;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.boxfilterseach {
    display: flex;
    align-items: center;
    gap: 20px;
}

.price {
    font-weight: 600;
}

.btnViewProduct {
    width: 170px;
    padding: 10px 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #FF4F16;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}





/*====================== All Product ================*/
#container_product_admin {
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    position: relative;
}
.container_home {
    width: 65%;
    margin: 0 auto;
}

.container_head_search {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    margin-bottom: 0;
    justify-content: center;
    width: 40%;
    position: relative;
    border: 1px solid #ccc;
    background-color: #FFF;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    top: 70px;
}
.box_cart_search{
    margin-left: 10.5rem;
}
.box_icon_search {
    color: #3a3a3a;
    display: flex;
    font-size: 1.6rem;
    margin-top: -1.3rem;
    padding: 5px 5px;
    border: 1px solid var(--gray);
    border-radius: 10%;
    background-color: #e9e5e5a1;
}

.box_icon_search:hover {
    color: #FF4F16;
}

.container_head_search input {
    width: 100%;
}

.box_container_img {
    background-color: #FFF;
    margin: auto;
}

.box_Filterseach_home{
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.onlacksearch {
    cursor: pointer;
}

#search-icon {
    width: 25px;
    height: 25px;
    color: #a5a5a5;
    margin-right: 1rem;
}

.container_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    margin-top: 3rem;
}

.container_product .categoryFilter:first-child {
    margin: 0 1rem;
}

.content_itemBox{
    margin-top: -3.5rem;
}

.product_fillter {
    display: flex;
    gap: 10px;

}

.container_product h3 {
    font-size: 23px;
    font-family: 600;
    padding-bottom: -10rem;
}

.categoryFilter {
    /*Is price filter*/
    cursor: pointer;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
}

.contentImageProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}
.contentImageProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 0.5rem;
}

.group_itemBox:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.txtOFproduct {
    display: flex;
    /* padding: 0 20px 10px 20px; */
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.loadmore_btn_more {
    padding: 12px 50px;
    background: #FF4F16;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    margin: 3rem 0 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box_icon_MdOutlineEdit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#icon_edit{
    width: 30px;
    height: 30px;
    padding: 5px 2px;
    background: #ccc;
    color: #FFF;
    border-radius: 4px;
}




/* ============ box_prev_next =========== */
.box_container_next_product{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    bottom: 0;
}
.box_prev_left_product{
    width: 80px;
    height: 40px;
    display: flex;
    gap: 0.3rem;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: #FA442C;
}
.box_prev_right_product{
    width: 80px;
    height: 40px;
    display: flex;
    gap: 0.3rem;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: #27A7EF;
}

#box_icon_left_right_product1{
    width: 20px;
    height: 20px;
}

.num_admin_product{
    width: 70px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444;
}
.box_prev_left_product p{
    font-size: 14px;
}
.box_prev_right_product p{
    font-size: 14px;
}
.box_num_product p{
    font-size: 16px;
}

.box_num_product{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}



#container_product_admin .product-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}


#container_product_admin .box-product {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}

#container_product_admin .box-product:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

#product .box-product .img {
    width: 100%;
    height: 30vh;
    padding: 10px;
    
}

#product .box-product .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}
#container_product_admin .box-product img {
    width: 100%;
    height: 30vh;
    padding: 10px;
    cursor: pointer;
}

.box_input-img{
    position: relative;
    cursor: pointer;
}
.box_input-img .img input{
    display: none;
}
.Box_delete_product {
    position: absolute;
    top: 6px;
    left: 7px;
    text-align: start;
    background-color: red;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    margin: 7px;
    cursor: pointer;
}
.edit_image_product {
    position: absolute;
    top: 10px;
    right: 11px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 4px 4px 0 4px;
    font-size: 20px;
    margin: 3px;
}
#box_icon_camera_product{
    color: #f46738;
}



.box_icon_camera_product {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
    font-size: 25px;
    margin: 3px;
}
.box_icon_camera {
    cursor: pointer;
    position: relative;
}


#icon_camera_product{
    color: #f46738;
}

 

.txtOFproduct {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    margin-top: -1.9rem;
    list-style: none;
}

.priceProduct {
    font-weight: 600;
}


/* =========== onClick icon edit ===============*/

.background_addproductpopup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000036;
    z-index: 999;
}

.hover_addproductpopup_box {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 22vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box_input p{
    font-size: 18px;
}
.box_input input{
    width: 80%;
    height: 58px;
    border-radius: 10px;
}

.container_popular{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 18px;
}
.container_popular input{
    width: 20px;
    cursor: pointer;
}

.hover_addproductpopup_box_image {
    width: 35%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_input_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 45vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box_input_image input{
    width: 80%;
    padding: 16px 0;
    display: none;
}
.box_input_image img{
    width: 210px;
    height: 220px;
    padding: 16px 0;
}
.box_input_image p{
    font-size: 18px;
}

.btn_cancel {
    background-color: #F2F3F7;
    color: #000;
    font-size: 18px;
}

.btn_confirm {
    background-color: #347FFF;
    color: #FFF;
    font-size: 18px;
}

.btn_cancel:hover {
    background-color: #e7e8ee;
}

.btn_confirm:hover {
    background-color: #3076f0;
}

.btn_addproducttxt_popup {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;

}

.input_of_txtAddproduct {
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #DDDCE1;
}

.btn_foasdf {
    display: flex;
}

