*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

#product_admin {
    width: 100%;
    margin: auto;
    z-index: 999;
    padding: 88px 20px 20px 255px;
}
.container_body_admin_product{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 20px 20px 30px 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.search-box_product {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 10px 0 25px 0;
}

.search-box_product input {
    width: 700px;
    height: 45px;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 0 1rem;
    border-radius: 5px 0 0 5px;
}

.search-box_product button {
    background: #FA442C;
    color: #FFF;
    width: 90px;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.productHead_content {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.htxthead,
.categoryBoxfiler {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #FF4F16;
    border-radius: 4px;
}

.banner_no_box {
    position: relative;
    margin-bottom: -40px;
    margin-top: 2.5rem;
}
.banner_no_box input{
    display: none;
}
.banner_no_box_image {
    object-fit: cover;
    overflow: hidden;
    height: 60vh;
}

.banner_no_box_image img {
    width: 100%;
    cursor: pointer;
}


#container_product_admin {
    width: 90%;
    margin: auto;
    position: relative;
}


.box_container_img {
    background-color: #FFF;
    margin: auto;
}



#container_product_admin .container_box {
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid #cccccc50;
}
#container_product_admin .box-product {
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
}

#container_product_admin .container_box:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

#product .box-product .img {
    width: 100%;
    height: 30vh;
    padding: 10px;
    
}

#product .box-product .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}
#container_product_admin .box-product img {
    width: 100%;
    height: 30vh;
    padding: 10px;
    cursor: pointer;
}

.box_input-img{
    position: relative;
    cursor: pointer;
}
.box_input-img .img input{
    display: none;
}
.Box_delete_product {
    position: absolute;
    top: 6px;
    left: 7px;
    text-align: start;
    background-color: red;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    margin: 7px;
    cursor: pointer;
}
.edit_image_product {
    position: absolute;
    top: 10px;
    right: 11px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 4px 4px 0 4px;
    font-size: 20px;
    margin: 3px;
}
.edit_image_banner {
    position: absolute;
    top: 5px;
    right: 8px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}
#box_icon_camera{
    color: #f46738;
}

.box_icon_camera {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 5px 0 5px;
    font-size: 25px;
    margin: 3px;
    display: none;
}

.txtOFproduct {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.box_input_image img{
    width: 210px;
    height: 220px;
    padding: 16px 0;
}

/* =========== onClick icon edit ===============*/

.background_addproductpopup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000036;
    z-index: 999;
}

.hover_addproductpopup_box {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 22vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box_input p{
    font-size: 18px;
}
.box_input input{
    width: 80%;
    height: 58px;
    border-radius: 10px;
}

.container_popular{
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 18px;
}
.container_popular input{
    width: 20px;
    cursor: pointer;
}

.hover_addproductpopup_box_image {
    width: 35%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_input_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 45vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box_input_image input{
    width: 80%;
    padding: 16px 0;
    display: none;
}
.box_input_image img{
    width: 210px;
    height: 220px;
    padding: 16px 0;
}
.box_input_image p{
    font-size: 18px;
}

.btn_cancel {
    background-color: #F2F3F7;
    color: #000;
    font-size: 18px;
}

.btn_confirm {
    background-color: #347FFF;
    color: #FFF;
    font-size: 18px;
}

.btn_cancel:hover {
    background-color: #e7e8ee;
}

.btn_confirm:hover {
    background-color: #3076f0;
}

.btn_addproducttxt_popup {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;

}

.input_of_txtAddproduct {
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #DDDCE1;
}

.btn_foasdf {
    display: flex;
}

/*=====================================*/


.contentImageProducts1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }

  .group_itemBox {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
  }
  
  .group_itemBox:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  }
  
  .group_itemBox .txtOFproduct {
    width: 50%;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
  
  .group_itemBox_user {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
  }
  
  .group_itemBox_user:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  }
  
  .group_itemBox_user .txtOFproduct_user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
  }

  .containner_box_image {
    width: 100%;
    display: flex;
  }
  .containner_box_image_user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .box_image {
    width: 150px;
    height: auto;
    overflow: hidden;
  }
  
  .box_image img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
    padding: 8px;
    border-radius: 100%;
  }
  .box_image_user {
    width: 100px;
    height: auto;
    overflow: hidden;
  }
  
  .box_image_user img {
    width: 100%;
    height: 85px;
    object-fit: cover;
    overflow: hidden;
    padding: 8px;
    border-radius: 100%;
  }

  .btn_button_see {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
  }
  .btn_button_see_user {
    display: grid;
    gap: 1rem;
    padding: 10px;
  }
  .btn_button_see_user #icon_FaRegHeart {
    margin-left: 0.8rem;
  }

  .button_view {
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    background: #ff4f16;
  }


