* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3 {
    font-family: 'Saysettha OT';
}

.about-us {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 1rem;
    overflow: auto;
}

.box {
    overflow: auto;
    margin: 1rem auto;
    background-color: #ffffffaa;
    
}

.pic {
    width: 700px;
    height: 350px;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

._1 .pic {
    float: left;
    margin-right: 20px;
}

._2 .pic {
    float: right;
    margin-left: 20px;
}

.text {
    font-size: 24px;
    font-family: 'Saysettha OT';
    text-align: justify;
    text-indent: 50px;
    padding: 0 1rem;
}

.recruiting {
    padding: 0 1rem;
}

ul {
    padding: 0 1rem;
    color: red;
}

ul li{
    font-family: "Saysettha OT";
}

