* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3 {
    font-family: 'Saysettha OT';
}

.about-us {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    overflow: auto;
}

.box {
    overflow: auto;
    margin: 1rem auto;
    background-color: #fff;
    
}

.pic {
    width: 30%;
}

.pic img {
    width: 100%;
}

._1 .pic {
    float: left;
    margin-right: 20px;
}

._2 .pic {
    float: right;
    margin-left: 20px;
}

.text {
    font-size: 24px;
    font-family: 'Saysettha OT';
    text-align: justify;
    text-indent: 50px;
    padding: 0 1rem;
}

.recruiting {
    padding: 0 1rem;
}

.recruiting ul, li{
    color: red;
    font-family: "Saysettha OT";
}

