* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    gap: 2rem;
}

.box-1 {
    padding: 1rem;
    width: 100%;
    background: #fff;
    overflow: auto;
    margin-bottom: 2rem;
}


.pic {
    width: 35%;
    float: left;
    margin-right: 20px;
}

.pic img {
    width: 100%;
}

.text {
    width: 90%;
    word-wrap: break-word;
    /* flex-grow: 1; */
}
