.box_container_adresume {
    width: 40%;
    min-height: 100vh;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 2rem;
}

.box_container_adresume h2 {
    text-align: center;
    padding: 1rem 0;
}

.image_profile_user {
    position: relative;
    width: 23%;
    height: auto;
    object-fit: contain;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    object-fit: cover;
}
.image_profile_user img {
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.image_profile_user input {
    display: none;
}

.iconn_changecamera {
    /* z-index: 999; */
    position: absolute;
    right: -1rem;
    bottom: 0;
    color: #888;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}



.box_content_input {
    display: grid;
    gap: 1rem;
}

.box_inputContent input {
    width: 100%;
    height: 58px;
    margin-top: 0.5rem;
    font-size: 16px;
    border: solid 1px #ccc;
    border-radius: 15px;
    padding: 0 8px;

}

.boxfileUp {
    width: 100%;
    min-height: 30vh;
    height: auto;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.boxfileUpInfo {
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    display: grid;
    justify-content: center;
    gap: 2rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}


.icon_boxfileUpInfo {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* .btn_submitUploadFile {
    text-align: center;
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.5rem 5rem;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
} */

/* Submit button */
.btn_submit_add {
    width: 100%;
    text-align: center;
}

.btn_submit_addresume {
    text-align: center;
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.8rem 8rem;
    cursor: pointer;
    border: none;
}

.box_inputContent textarea {
    width: 100%;
    height: 6rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    border-radius: 15px;
    background-color: #fff;

    font-size: 16px;
    resize: none;
    margin-top: 0.5rem;
}


@media screen and (max-width: 431px) {
    .box_container_adresume {
        width: 100%;
        min-height: 100vh;
        margin: 0 0 2rem 0;
        overflow: hidden;
        padding: 10px;
        margin-top: 6rem;
        margin-bottom: 10rem;
    }

    .image_profile_user {
        width: 40%;
    }

    .box_inputContent input {
        height: 3.2rem;
        font-size: 18px;
        border-radius: 7px;
        margin-top: 0.7rem;
    }
    .box_container_adresume h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 376px) {
    .box_container_adresume {
        margin: 0 0 2rem 0;
        padding: 0 10px;
        margin-bottom: 10rem;
        margin-top: 6rem;
    }

    .image_profile_user {
        width: 37%;
    }

    .box_inputContent input {
        height: 3rem;
        font-size: 16px;
        margin-top: 0.5rem;
    }
    .box_container_adresume h2 {
        font-size: 23px;
    }
}