a {
    text-decoration: none;
}

#product1 {
    width: 65%;
    margin: auto;
    height: auto;
    margin-top: 6.5rem;
}


.productHead_contents {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 2rem;
}



.htxthead,
.categoryBoxfiler {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #ff4f16;
    border-radius: 4px;
}

.contentImageUser {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
}


.containner_box_image_user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.box_image_user {
    width: 100px;
    height: auto;
    overflow: hidden;
}

.box_image_user img {
    width: 100%;
    height: 85px;
    object-fit: cover;
    overflow: hidden;
    padding: 8px;
    border-radius: 100%;
}



.group_itemBox_user {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
}

.group_itemBox_user:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.group_itemBox_user .txtOFproduct_user {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.txtOFproduct_user span {
    font-size: 18px;
}

.btn_button_see_user {
    display: grid;
    gap: 1rem;
    padding: 10px;
}

.btn_button_see_user #icon_FaRegHeart {
    margin-left: 0.8rem;
}



.button_edit {
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #27A7EF;
}

.button_see_delete {
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #ff4f16;
}


/* =========== onClick icon Log out ===============*/

.box_background_delete {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000036;
    z-index: 999;
}

.hover_delete_box {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 15vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_logout p {
    font-size: 18px;
}

.btn_cancel {
    background-color: #F2F3F7;
    color: #000;
    font-size: 18px;
}

.btn_confirm {
    background-color: #347FFF;
    color: #FFF;
    font-size: 18px;
}

.btn_cancel:hover {
    background-color: #e7e8ee;
}

.btn_confirm:hover {
    background-color: #3076f0;
}

.btn_addproducttxt_popup {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;

}

.input_of_txtAddproduct {
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #DDDCE1;
}

.btn_foasdf {
    display: flex;
}


/* ================== Responsive ==============*/

@media screen and (max-width: 1024px) {

    .contentImageUser {
        width: 100%;
        grid-template-columns: 1fr;
    }



    .box_image_user {
        width: 80px;
        height: auto;
        overflow: hidden;
    }

    .box_image_user img {
        width: 100%;
        height: 50px;
        object-fit: cover;
        overflow: hidden;
        padding: 8px;
        border-radius: 100%;
    }


}

@media screen and (max-width: 767px) {
    #product1 {
        width: 90%;
        margin-bottom: 10rem;
        padding: 0 10px;
    }



    .box_image_user {
        width: 130px;
        height: auto;
        overflow: hidden;
    }

    .box_image_user img {
        width: 100%;
        height: 70px;
    }

    .button_see {
        padding: 2px 8px;
    }

    .group_itemBox_user .txtOFproduct_user {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .txtOFproduct_user span {
        font-size: 14px;
    }

    .hover_delete_box {
        width: 90%;
    }
}

@media screen and (max-width: 431px) {
    #product1 {
        width: 100%;
        margin-bottom: 10rem;
        padding: 0 10px;
    }

    .containner_box_image_user {
        height: 120px;
        position: relative;
    }


    .txt_span {
        display: none;
    }

    .box_image_user {
        width: 130px;
        height: auto;
        overflow: hidden;
    }

    .box_image_user img {
        width: 100%;
        height: 70px;
    }

    .button_see {
        padding: 5px 20px;
        border-radius: 7px;
    }

    .group_itemBox_user .txtOFproduct_user {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    .txtOFproduct_user span {
        font-size: 14px;
    }

    .hover_delete_box {
        width: 90%;
    }

}